apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgresql:5432
    user: enod_user
    secureJsonData:
      password: enod_password
    jsonData:
      database: enod_monitoring
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false